<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#">{{ this.site.author }}</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="cv.html">CV</a></li>
            </ul>
        </div>
    </div>
</div>
